:root {
    --white-color: #fff;
    --black-color: #000;
    --alt-black: rgb(49, 49, 49);
    --blue-color: rgb(70, 130, 180);
    --section-color: rgb(65, 65, 65);
    --lighter-section: rgb(106, 106, 106);
    --yellow-color: rgb(255, 255, 0);
    --red-color: rgb(255, 0, 0);
}