.section-form {
    background-color: rgb(65, 65, 65);
}
.todo-form {
    display: flex;
    justify-content: center;
}
.todo-form__label-span {
    margin-right: 5px;
    color: white;

}
.todo-form__label-input {
    width: 500px;
    height: 25px;
    margin-right: 10px;


    border-radius: 15px;
    transition: border-radius 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &::placeholder {
        padding-right: 20px;
        font-size: 15px;
    }



}
@keyframes spanRotate {
    0% {
        transform: rotateX(50px);
    }
    50% {
        transform: rotateX(20px);
    }
    100% {
        transform: rotateX(30px);
    }
}
.todo-list__item-checkbox {
    width: 25px;
    height: 25px;
    margin-top: 30px;

    margin-bottom: 10px;

}